.search-form {
  width: 100%;
  padding: 70px 0 0;
  display: flex;
  flex-direction: column;
}

.search-form__box {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
  padding: 0 70px 44px;
  gap: 27px;
  box-sizing: border-box;
}

.search-form__container {
  padding: 10px 10px 10px 25px;
  width: 100%;
  border: 1.5px solid rgba(170, 170, 170, 0.2);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.search-form__input {
  width: 80%;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.search-form__button {
  width: 100px;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  color: #fff;
  padding: 20px 17px;
  box-sizing: border-box;
  background: #2be080;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}

.search-form__button_disabled {
  opacity: 0.5;
}

.search-form__button:hover {
  opacity: 0.5;
}

.search-form__error {
  margin: 10px 0 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  margin: 0;
}

@media screen and (max-width: 490px) {
  .search-form__box {
    padding: 0 14px 63px;
  }
  .search-form__container {
    padding: 10px 10px 10px 12px;
  }
  .search-form__input {
    width: 60%;
  }
}
