.header {
  max-width: 100%;
  background-color: #5c5c5c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 70px;
}

.header__logo {
  cursor: pointer;
}



.header__container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__background_profile {
  background: #fff;
}

.header__button_films {
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
}

.header__button_saved-films {
  font-weight: 400;
}

.header__container-item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__account {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.header__account-logo {
  padding: 8px 7.25px;
  max-width: 11.5px;
}

.header__account-box {
  background: #f9f9f9;
  border-radius: 4px;
}

@media screen and (max-width: 769px) {
  .header {
    padding: 18px 30px;
  }
  .header__container{
    display: none;
  }
  .header__navbar{
    display: none;
  }
}
@media screen and (max-width: 430px) {
  .header {
    padding: 18px 14px;
  }
}
